.h5 {
    display: absolute;
    text-align: center;
}

.p {
    font-size: medium;
    font-weight: 500;
}

.boardWrapper {
    display: inline-block;
    width: 400px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 15px;
}

.board {
    display: inline-block;
    flex-direction: column;
    width: 100%;
    width: 300px;
    min-height: 500px;
    background-color: #313131;
    padding: 15px;
}

.card {
    display: inline-block;
    padding: 5px;
    width: 315px;
    background-color: #b9b9b9;
    cursor: pointer;
    margin: 15px;
}